[submodule "lib/detex"]
	path = lib/detex
	url = https://github.com/hglm/detex.git
[submodule "lib/lz4"]
	path = lib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "lib/span"]
	path = lib/span
	url = https://github.com/tcbrindle/span
