[submodule "lib/detex"]
	path = lib/detex
	url = https://github.com/REDxEYE/detex.git
[submodule "lib/lz4"]
	path = lib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "lib/span"]
	path = lib/span
	url = https://github.com/tcbrindle/span
[submodule "lib/lzham_codec"]
	path = lib/lzham_codec
	url = https://github.com/richgel999/lzham_codec
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd
